*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background: linear-gradient(45deg, #2732b6, #3595b3);
    color: white;
}

.header-myflow {
    min-height: 50px;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 15px;
}

.container__navbar__header {
    width: 90%;
    background: #00000099;
    backdrop-filter: blur(3px);
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 10px;
}

.h1__header {
    font-size: clamp(20px, 2vw, 24px);
}

.span-h1__header {
    font-weight: 200;
}

.main-myflow {
    max-width: 1500px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section__mix {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 10%;
    width: 90%;
}

.group__default-mix {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.group__my-mix {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.group-btn__mix {
    background: #00000099;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;

}

.btn-mix {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
}

.section__ambiance {
    width: 90%;
    margin: 0 auto;
}

.container__ambiance {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 180px);
    grid-template-rows: repeat(3, 180px);
    justify-items: start;
    justify-content: center;
    background: #00000099;
    padding: 20px 20px 40px;
    border-radius: 15px;
    min-height: max-content;
    height: 80vh;
}

.div__volume-general {
    width: max-content;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.btn-input__volume-general {
    background: #96969663;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 10px 10px 0 0;
    gap: 5px;
}

.btn__volume-general {
    background: none;
    border: none;
    color: white;
    display: flex;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* volume control general  */
.generals-controls {
    grid-column-start: 1;
    grid-column-end: 5;
}

.p__sounds-on__generals-controls {
    background: #ff00004d;
    padding: 5px 15px;
    border-radius: 50px;
    width: max-content;
    margin-top: 5px;
}

.generals-controls-input {
    width: 90%;
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    cursor: col-resize;
    background: #00000073;
}

/* track */
.generals-controls-input:focus {
    outline: none;
}
.generals-controls-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    box-shadow: -300px 0 0 300px #bdbdbdb6;
    position: relative;
    z-index: 9;
}
/* track */

.div-generals-controls-div-input {
    width: 250px;
    background: #3b3b3b4d;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 20px;
    border-radius: 10px 10px 0 0;
    margin-top: 10px;
}

.button-icon__generals-controls {
    background: none;
    border: none;
    color: white;
    display: flex;
}

.div-generals-controls-btns {
    width: 250px;
    background: #00000085;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.btn-generals-controls-for-input {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* audio player  */
.audio-player {
    width: 180px;
    height: 180px;
    background: #3b3b3b4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}

.div-audioplayer-btn__p{
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
}

.div-icon {
    width: 60px;
    height: 60px;
    background: #00000085;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.p-audioplayer {
    color: white;
}

.div-icon-vol__input-vol {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: center;
}

.span-vol-for-input{
    position: absolute;
    z-index: 99;
    left: 10%;
    top: 1px;
    font-size: 19px;
    pointer-events: none;
    color: #000000cc;
}

.span-vol-for-input.material-symbols-outlined {
    font-size: 19px;
}

.div-audioplayer-input {
    width: 100%;
    height: 70px;
    background: #00000085;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 5px;
}

.volumeControl__audioplayer {
    width: 90%;
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    cursor: col-resize;
    background: #5a5a5a73;
}

/* track */
.volumeControl__audioplayer:focus {
    outline: none;
}
.volumeControl__audioplayer::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    box-shadow: -100px 0 0 100px #bdbdbdb6;
    position: relative;
    z-index: 9;
}
/* track */


.div-audioplayer-btninput {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}

.btn-audioplayer-input {
    border: none;
    cursor: pointer;
    background: no-repeat;
    color: white;
}

.span-noise-effect {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}


.footer-myflow {
    max-width: 1500px;
    min-height: 50px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.content-footer {
    width: 90%;
    min-height: 50px;
    background: #00000099;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}
.link__footer{
    color: white;
}

.div-icon-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.link-social-footer {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    background: white;
    padding: 5px;
    border-radius: 8px;
}

.img-social-footer {
    width: 20px;
}
.link-social-footer:hover {
    filter: invert(1);
}

.logo-footer-IK {
    width: 40px;
    filter: invert(1);
}

a.link-logo-footer-IK {
    pointer-events: none;
}
@media screen and (max-width:930px) {
    
    .container__ambiance{
        grid-template-columns: repeat(3, 180px);
        grid-template-rows: repeat(4, 180px);
    }

    .generals-controls{
        grid-column-end: 4;
    }
}

@media screen and (max-width:700px) {
    
    .container__ambiance{
        grid-template-columns: repeat(2, 180px);
        grid-template-rows: repeat(5, 180px);
    }

    .generals-controls{
        grid-column-end: 3;
    }

    .p__sounds-on__generals-controls {
        width: auto;
    }
}

@media screen and (max-width:500px) {
    
    .container__ambiance{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        grid-template-columns: none;
        grid-template-rows: none;
    }

    .generals-controls{
        width: 100%;
        flex-grow: 1;
    }

    .div-generals-controls-div-input{
        width: 100%;
    }

    .div-generals-controls-btns{
        width: 100%;
    }

    .audio-player {
        width: 46%;
        height: max-content;
        flex-grow: 1;
    }
    
    .div-icon{
        width: 50px;
        height: 50px;
    }

    .material-symbols-outlined{
        font-size: 20px;
    }

    .div-icon-vol__input-vol{
        margin: 5px;
    }

    .section__mix{
        flex-direction: column;
        gap: 15px;
    }

    .group__my-mix, .group__default-mix {
        width: 100%;
    }

    .p__sounds-on__generals-controls {
        border-radius: 10px;
    }
}
