@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "DM Sans", sans-serif;
    min-height: 100vh;
    background: #212121;
    color: white;
}

.div-loading-page{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #212121;
    z-index: 999;
    align-items: center;
    justify-content: center;
}

.img-loading-page{
    width: 200px;
    transform: rotate(0deg);
    animation: img-load-animation 0.5s 0s ease-out infinite;
}

@keyframes img-load-animation {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

.header-myflow {
    min-height: 50px;
    padding-top: 30px;
}

.container__navbar__header {
    color: white;
    text-align: center;
}

.h1__header {
    font-size: clamp(25px, 3vw, 35px);
    font-weight: 500;
}

.span-h1__header {
    font-weight: 200;
}

.main-myflow {
    max-width: 1500px;
    margin: 15px auto;
    min-height: 90svh;
}

.div-sections{
    /* background: #00000099; */
    width: 90%;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section__mix {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 10%;
    width: 90%;
    max-width: 795px;
    border-bottom: 1px solid #838383;
    padding-bottom: 15px;
}

.group__default-mix {
    width: max-content;
    display: flex;
    gap: 5px;
    flex-flow: column wrap;
    padding: 5px;
}

.group__my-mix {
    width: max-content;
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
    padding: 5px;
}

.group-btn__mix {
    border-radius: 10px;
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    justify-content: center;
}

.btn-mix {
    border-radius: 50px;
    border: none;
    background: #6d6d6d4d;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    flex-grow: 1;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.btn-mix:hover {
    backdrop-filter: contrast(0.5);
}

.btn__my-mix {
    opacity: 0.5;
    cursor: not-allowed;
}

.beach-campfire-btn-clicked{
    background: linear-gradient(45deg, #FFEB3B, #E91E63), url(assets/beachcampfire-bg-btn.png);
    color: black;
    background-size: cover;
    background-position: bottom;
    background-blend-mode: hard-light;
    box-shadow: 0 0 20px 0px #ff7b004d;
}

.calm-storm-btn-clicked{
    background: rgb(181, 37, 210);
    color: rgb(255, 255, 255);
    background-image: url(assets/calmstorm-bg-btn4.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    box-shadow: 0 0 20px 0px #7700ff4d;
}

.seaside-city-btn-clicked{
    background: #0069ff;
    color: black;
    background-image: url(assets/seasidecity-bg-btn3.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    box-shadow: 0 0 20px 0px #0069ff63;
}
.section__ambiance {
    width: 90%;
    margin: 0 auto;
}

.container__ambiance {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 180px);
    grid-template-rows: repeat(3, 180px);
    justify-items: start;
    justify-content: center;
    min-height: max-content;
}

.div__volume-general {
    width: max-content;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.btn-input__volume-general {
    background: #96969663;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 10px 10px 0 0;
    gap: 5px;
}

.btn__volume-general {
    background: none;
    border: none;
    color: white;
    display: flex;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* volume control general  */
.generals-controls {
    grid-column-start: 1;
    grid-column-end: 5;
}

.global-settings{
    width: max-content;
}

.p__sounds-on__generals-controls {
    background: linear-gradient(225deg, #E91E63, #c90b0b);
    padding: 5px 15px;
    border-radius: 50px;
    width: max-content;
    margin-top: 5px;
}

.generals-controls-input {
    width: 90%;
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    cursor: col-resize;
    background: #00000073;
}

/* track */
.generals-controls-input:focus {
    outline: none;
}

.generals-controls-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    box-shadow: -300px 0 0 300px #bdbdbdb6;
    position: relative;
    z-index: 9;
}

/* track */

.div-generals-controls-div-input {
    width: 250px;
    background: #6d6d6d4d;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 20px;
    border-radius: 10px 10px 0 0;
    margin-top: 10px;
}

.button-icon__generals-controls {
    background: none;
    border: none;
    color: white;
    display: flex;
}

.div-generals-controls-btns {
    width: 250px;
    background: #00000085;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.btn-generals-controls-for-input {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* audio player  */
.audio-player {
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 0 0 #16161685;
    transform: translate(0px, 0px);
    transition: 0.3s cubic-bezier(0.14, 0.73, 0.58, 1);
}

.audio-player:hover {
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 0 0 #08080882;
}

.clicked-audioplayer{
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 0 0 #08080882;
}

.div-audioplayer-btn__p {
    width: 100%;
    height: 110px;
    background: #6d6d6d4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
}

.div-icon {
    width: 60px;
    height: 60px;
    background: #00000085;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.p-audioplayer {
    color: white;
}

.div-icon-vol__input-vol {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: center;
}

.span-vol-for-input {
    position: absolute;
    z-index: 99;
    left: 10%;
    top: 1px;
    font-size: 19px;
    pointer-events: none;
    color: #000000cc;
}

.span-vol-for-input.material-symbols-outlined {
    font-size: 19px;
}

.div-audioplayer-input {
    width: 100%;
    height: 70px;
    background: #00000085;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 5px;
}

.volumeControl__audioplayer {
    width: 90%;
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    cursor: col-resize;
    background: #5a5a5a73;
}

/* track */
.volumeControl__audioplayer:focus {
    outline: none;
}

.volumeControl__audioplayer::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    box-shadow: -100px 0 0 100px #bdbdbdb6;
    position: relative;
    z-index: 9;
}

/* track */
.div-audioplayer-btninput {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}

.btn-audioplayer-input {
    border: none;
    cursor: pointer;
    background: no-repeat;
    color: white;
}

.span-noise-effect {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}


.footer-myflow {
    /* max-width: 1500px; */
    min-height: 50px;
    margin: 0 auto;
    background: #00000099;
}

.content-footer {
    width: 100%;
    min-height: 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 15px 0;
    gap: 15px;
    justify-items: start;
    align-items: center;
    justify-content: center;
    max-width: 795px;
}

.link__footer {
    color: white;
}

.div-icon-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    grid-row-start: 2;
}

.link-social-footer {
    /* width: 100%; */
    height: 100%;
    aspect-ratio: 1 / 1;
    background: white;
    padding: 5px;
    border-radius: 8px;
    transition: 0.2s ease-out;
}

.img-social-footer {
    width: 25px;
}

.link-social-footer:hover {
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 0 0 #adadadbd;
}

.logo-footer-IK {
    width: 35px;
    filter: invert(1);
}

.link-logo-footer-IK {
    pointer-events: none;
    grid-row-start: 2;
    grid-column-start: 2;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.div-paypal-link{
    background: linear-gradient(45deg, rgb(41 241 157), rgb(2 165 255));
    padding: 3px 3.1px;
    border-radius: 9px;
    transition: 0.2s ease-out;
}

.paypal-link{
    width: max-content;
    background: white;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;
    border-radius: 6px;
    height: 29px;
    transition: 0.2s ease-out;
}
.imgpaypal{
    transition: 0.2s ease-out;
    width: 20px;
}

.div-paypal-link:hover{
    box-shadow: 0 0 20px 0 #14c6cf94;
}

.div-paypal-link:hover .paypal-link {
    background: transparent;
}

@media screen and (max-width:930px) {

    .container__ambiance {
        grid-template-columns: repeat(3, 180px);
        grid-template-rows: repeat(4, 180px);
    }

    .generals-controls {
        grid-column-end: 4;
    }

    .content-footer {
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }

    p.p__footer {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media screen and (max-width:700px) {

    .container__ambiance {
        grid-template-columns: repeat(2, 180px);
        grid-template-rows: repeat(5, 180px);
    }

    .generals-controls {
        grid-column-end: 3;
    }

    .p__sounds-on__generals-controls {
        width: auto;
    }
}

@media screen and (max-width:500px) {

    .container__ambiance {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        grid-template-columns: none;
        grid-template-rows: none;
    }

    .generals-controls {
        width: 100%;
        flex-grow: 1;
    }

    .global-settings{
        width: auto;
    }

    .div-generals-controls-div-input {
        width: 100%;
    }

    .div-generals-controls-btns {
        width: 100%;
    }

    .audio-player {
        width: 46%;
        height: max-content;
        flex-grow: 1;
    }

    .div-icon {
        width: 50px;
        height: 50px;
    }

    .material-symbols-outlined {
        font-size: 20px;
    }

    .div-icon-vol__input-vol {
        margin: 5px;
    }

    .section__mix {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .group__my-mix,
    .group__default-mix {
        width: 100%;
    }

    .p__sounds-on__generals-controls {
        border-radius: 10px;
    }

    .content-footer{
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        align-items: center;
    }

    .link-logo-footer-IK {
        width: auto;
        justify-content: center;
        align-items: center;
    }

    .div-icon-footer{
        flex-wrap: wrap;
    }
    
}