@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "DM Sans", sans-serif;
    min-height: 100vh;
    background: #18191D;
    color: white;
    overflow: hidden;
}

::selection {
    background-color: #ececec6b;
    color: #000;
}

.div-loading-page{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #18191D;
    z-index: 999;
    align-items: center;
    justify-content: center;
}

.img-loading-page{
    width: 150px;
    transform: rotate(0deg);
    animation: img-load-animation 1s 0s ease-out infinite;
}

@keyframes img-load-animation {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

.header-myflow {
    min-height: 50px;
    padding-top: 30px;
}

.container__navbar__header {
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.img-logo-header {
    width: 35px;
    object-fit: contain;
}

.h1__header {
    font-size: clamp(25px, 3vw, 35px);
    font-weight: 500;
}

.span-h1__header {
    font-weight: 200;
}

.bg-neon-top{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 25px;
    background: linear-gradient(90deg, #4660ff, #0eccff, #4660ff);
    top: 0;
    left: 0;
    filter: blur(70px);
    transition: background 0.5s ease-out;
}

.main-myflow {
    max-width: 1500px;
    margin: 15px auto;
    min-height: 90svh;
}

.popup-namemix__screen{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px);
    z-index: 99;
}

.popup-namemix {
    display: flex;
    position: fixed;
    background: #0a0a0ade;
    width: 50%;
    height: 200px;
    z-index: 999;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);
    border-radius: 8px;
    border: 2px solid #333333;
    gap: 7px;
    max-width: 600px;
}

.crosspopup-namemix {
    position: absolute;
    z-index: 9;
    top: 4px;
    right: 4px;
    background: crimson;
    cursor: pointer;
    border: none;
    display: flex;
    border-radius: 6px;
}

.crosspopup-namemix:hover {
    opacity: 0.8;
}

.popup-delete-div__screen{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    backdrop-filter: blur(3px);
    display: none;
}

.popup-delete-div {
    position: fixed;
    background: #0a0a0ade;
    backdrop-filter: blur(20px);
    border: 2px solid #333333;
    border-radius: 8px;
    width: 50%;
    height: 200px;
    z-index: 999;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
}

.popup-delete-div-btns {
    display: flex;
    gap: 15px;
}

.btn-popop-delete {
    padding: 5px 10px;
    border-radius: 53px;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

.btn-popop-delete__yes {
    background: crimson;
}

.btn-popop-delete:hover {
    opacity: 0.7;
}

.form-namemix {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.input-namemix {
    width: 100%;
    padding: 10px 60px 10px 15px;
    font-size: 16px;
    outline: none;
    border: none;
    box-shadow: 0 0 3px 0px #0000002b;
    border-radius: 10px;
}

.div-input-btn__mymix {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.btn-input-mymix {
    position: absolute;
    right: 2px;
    display: flex;
    border: none;
    background: none;
    cursor: pointer;
    background: black;
    color: white;
    border-radius: 9px;
    padding: 5px;
}

.btn-input-mymix:hover {
    opacity: 0.8;
}

.div-sections{
    width: 90%;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section__mix {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    max-width: 795px;
    border-bottom: 1px solid #838383;
    padding-bottom: 15px;
    gap: 15px;
}

.div-btns-mix-timer{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.btntop {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    background: #3d3f42;
    color: white;
    cursor: pointer;
}

.btntop:hover {
    opacity: 0.8;
}

.div__mixs {
    display: none;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    background: #282a2c;
    border-radius: 20px;
    padding: 15px;
}

.clicked-mix-timer {
    color: #282a2c;
    background: white;
}
.group__default-mix {
    width: max-content;
    display: flex;
    gap: 5px;
    flex-flow: column wrap;
    padding: 5px;
}

.group__my-mix {
    width: max-content;
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
    padding: 5px;
}

.group-btn__mix {
    border-radius: 10px;
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.group__my-mix-p-btn {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-flow: row nowrap;
}


.btn-mix {
    border-radius: 50px;
    border: none;
    background: #3D3F42;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    flex-grow: 1;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.btn-mix:hover {
    opacity: 0.7;
}

.btn__my-mix {
    box-shadow: inset 0 0 0 2px white;
}

.btn__my-mix-clicked {
    background: white;
    color: black;
    background-image: url(assets/bg-mymix.png);
    background-position: bottom;
}

.p__my-mix {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

.btn-delete-mix {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-delete-mix:hover {
    color: crimson;
}

.btn-delete-mix span {
    font-size: 20px;
}

.material-symbols-outlined.btn-delete-mix {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.beach-campfire-btn-clicked{
    background: linear-gradient(45deg, #ffeb3bd1, #e91e63d4), url(assets/beachcampfire-bg-btn.png);
    color: #ffffff;
    background-size: cover;
    background-position: bottom;
    background-blend-mode: hard-light;
    box-shadow: 0 0 20px 0px #ff7b004d;
}

.calm-storm-btn-clicked{
    background: linear-gradient(45deg, #9C27B0, #2196F3), url(assets/calmstorm-bg-btn4.jpg);
    color: #ffffff;
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
    box-shadow: 0 0 20px 0px #7700ff4d;
}

.seaside-city-btn-clicked{
    background: linear-gradient(180deg, #00b8ff, #0756ff), url(assets/test-bg-seasidecity3.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: hard-light;
    box-shadow: 0 0 20px 0px #0069ff63;
}
.section__ambiance {
    margin: 0 auto;
}

.container__ambiance {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 180px);
    grid-template-rows: repeat(3, 180px);
    justify-items: start;
    justify-content: center;
    min-height: max-content;
    transition: 0.2s ease-out;
    align-items: end;
    position: relative;
}

.clicked-mymix-container1 {
    padding: 50px;
    border: 2px solid #838383;
    border-radius: 15px;
    position: relative;
    margin-top: 30px;
}

.div-mode-timer {
    background: #282a2c;
    width: 100%;
    height: max-content;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    border-radius: 20px;
}

.div-btns-pomo-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.btns-timer {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: #3D3F42;
    color: white;
}

.btns-timer:hover {
    opacity: 0.8;
}
.div-pomodoro-screen {
    display: flex;
    flex-flow: row nowrap;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.div-label-input{
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.div-inputs-pomodoro {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.input-timer {
    border: none;
    background: none;
    font-size: clamp(40px, 3.5vw, 50px);
    width: 100%;
    outline: none;
    text-align: center;
    color: white;
}


.p-pomodoro {
    font-size: clamp(40px, 3.5vw, 50px);
}

.div-simpletimer-screen {
    display: none;
    flex-flow: row nowrap;
    padding: 20px;
}

.div-input-simple-timer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 230px;
    margin: 0 auto;
}

.input-timer-hours {
    border: none;
    background: none;
    font-size: clamp(40px, 3.5vw, 50px);
    width: 100%;
    outline: none;
    text-align: center;
    color: white;
}

.clicked-timer {
    background: white;
    color: #46494b;
}

.div-btn-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px 0;
}

.btn-voice {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: white;
    color: #3d3f42;
}

.btn-voice:hover{
    opacity: 0.8;
}

.muted {
    background: #3d3f42;
    color: white;
}

.btn-timer-start {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: #3d3f42;
    color: white;
}

.btn-timer-start:hover {
    opacity: 0.8;
}

.clicked-btn-start {
    background: white;
    color: #3d3f42;
}

.p-select-sounds {
    position: absolute;
    background: white;
    color: black;
    padding: 5px 15px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(90deg);
    border-radius: 50px;
    font-size: 18px;
    width: max-content;
    transition: 0.3s ease-out;
}

.btn-save-mymix{
    display: none;
    position: absolute;
    z-index: 999;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 6px 35px;
    font-size: 16px;
    cursor: pointer;
    background: white;
    border: none;
    border-radius: 50px;
    overflow: hidden;
}
.spansave {
    position: relative;
    z-index: 9999;
}

.btn-save-mymix::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(70, 96, 255), rgb(14, 204, 255));
    top: 101%;
    left: 0;
    transition: 0.2s cubic-bezier(0.49, 0.12, 0.58, 1);
}

.btn-save-mymix:hover.btn-save-mymix::before {
    top: 0;
}

.div__volume-general {
    width: max-content;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.btn-input__volume-general {
    background: #96969663;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 10px 10px 0 0;
    gap: 5px;
}

.btn__volume-general {
    background: none;
    border: none;
    color: white;
    display: flex;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    position: relative;
    z-index: 2;
}

/* volume control general  */
.generals-controls {
    grid-column-start: 1;
    grid-column-end: 5;
}

.global-settings{
    width: max-content;
}

.p__sounds-on__generals-controls {
    background: linear-gradient(225deg, #E91E63, #c90b0b);
    padding: 5px 15px;
    border-radius: 50px;
    width: max-content;
    margin-top: 5px;
}

.generals-controls-input {
    width: 90%;
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    cursor: col-resize;
    background: #00000073;
}

/* track */
.generals-controls-input:focus {
    outline: none;
}

.generals-controls-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    box-shadow: -300px 0 0 300px #bdbdbdb6;
    position: relative;
    z-index: 9;
}

.generals-controls-input::-moz-range-thumb{
    width: 0;
    box-shadow: -300px 0 0 300px #bdbdbdb6;
    position: relative;
    z-index: 9;
}

/* track */

.div-generals-controls-div-input {
    width: 250px;
    background: #3D3F42;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 20px;
    border-radius: 10px 10px 0 0;
    margin-top: 10px;
}

.button-icon__generals-controls {
    background: none;
    border: none;
    color: white;
    display: flex;
    cursor: pointer;
}
.button-icon__generals-controls:hover {
    opacity: 0.7;
}

.div-generals-controls-btns {
    width: 250px;
    background: #282A2C;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.btn-generals-controls-for-input {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    user-select: none;
}

.btn-generals-controls-for-input:hover {
    opacity: 0.7;
}

/* audio player  */
.audio-player {
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 0 0 #16161685;
    transform: translate(0px, 0px);
    transition: 0.3s cubic-bezier(0.14, 0.73, 0.58, 1);
}

.audio-player:hover .div-audioplayer-btn__p {
    background: #606265;
}
.audio-player:hover .div-audioplayer-input {
    background: #313437;
}

.div-audioplayer-btn__p {
    width: 100%;
    height: 110px;
    background: #3D3F42;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.div-icon {
    width: 60px;
    height: 60px;
    background: #282a2c;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

.div-icon::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: #282a2c;
    z-index: 1;
    opacity: 1;
    box-shadow: 0 0 0 1px #282a2c;
    transition: 0.3s ease-out;
}

.div-icon.hidden::after{
    opacity: 0;
}

.circle--1 {
    background: linear-gradient(0deg, #654ffe, #00e0fe);
}
.circle--2 {
    background: linear-gradient(0deg, #ed5a60, #e095af);
}
.circle--3 {
    background: linear-gradient(180deg, #FFC107, #F44336);
}
.circle--4 {
    background: linear-gradient(37deg, #1f1c81, #9800ff);
}
.circle--5 {
    background: linear-gradient(182deg, #4a64ea, #bb95db);
}
.circle--6 {
    background: linear-gradient(45deg, #4fd0a7, #7d93ff);
}
.circle--7 {
    background: linear-gradient(0deg, #009688, #CDDC39);
}
.circle--8 {
    background: linear-gradient(180deg, #5789aa, #2c3e50);
}

.p-audioplayer {
    color: white;
}

.div-icon-vol__input-vol {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: center;
}

.span-vol-for-input {
    position: absolute;
    z-index: 99;
    left: 10%;
    top: 1px;
    font-size: 19px;
    pointer-events: none;
    color: #000000cc;
}

.span-vol-for-input.material-symbols-outlined {
    font-size: 19px;
}

.div-audioplayer-input {
    width: 100%;
    height: 70px;
    background: #282a2c;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 5px;
    transition: 0.2s ease-out;
}
.clicked-audioplayer-btn-p{
    background: #606265;
}
.clicked-audioplayer-input{
    background: #313437;

}
.volumeControl__audioplayer {
    width: 90%;
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    cursor: col-resize;
    background: #5a5a5a73;
}

/* track */
.volumeControl__audioplayer:focus {
    outline: none;
}

.volumeControl__audioplayer::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    box-shadow: -100px 0 0 100px #bdbdbdb6;
    position: relative;
    z-index: 9;
}

.volumeControl__audioplayer::-moz-range-thumb {
    width: 0;
    box-shadow: -100px 0 0 100px #bdbdbdb6;
    position: relative;
    z-index: 9;
}

/* track */
.div-audioplayer-btninput {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    user-select: none;
}

.btn-audioplayer-input {
    border: none;
    cursor: pointer;
    background: no-repeat;
    color: white;
}

.btnplaypause:hover,.btnremove:hover,.btnadd:hover {
    opacity: 0.6;
}

.span-noise-effect {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}


.footer-myflow {
    min-height: 50px;
    margin: 0 auto;
    background: #282A2C;
}

.content-footer {
    width: 100%;
    min-height: 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 15px 0;
    gap: 15px;
    justify-items: start;
    align-items: center;
    justify-content: center;
    max-width: 795px;
}

.link__footer {
    color: white;
}

.div-icon-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    grid-row-start: 2;
}

.link-social-footer {
    height: 35px;
    aspect-ratio: 1 / 1;
    background: white;
    padding: 5px;
    border-radius: 8px;
    transition: 0.2s ease-out;
}

.img-social-footer {
    width: 25px;
}

.link-social-footer:hover {
    opacity: 0.6;
}

.logo-footer-IK {
    width: 35px;
    filter: invert(1);
}

.link-logo-footer-IK {
    pointer-events: none;
    grid-row-start: 2;
    grid-column-start: 2;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.div-paypal-link{
    background: linear-gradient(45deg, rgb(70 96 255), rgb(14 204 255));
    padding: 3px 3.1px;
    border-radius: 9px;
    transition: 0.2s ease-out;
}

.paypal-link{
    width: max-content;
    background: white;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;
    border-radius: 6px;
    height: 29px;
    transition: 0.2s ease-out;
}
.imgpaypal{
    transition: 0.2s ease-out;
    width: 20px;
}

.div-paypal-link:hover{
    box-shadow: 0 0 20px 0 #1464cf94;
}

.div-paypal-link:hover .paypal-link {
    background: transparent;
}

@media screen and (min-width:1920px) {

    body{
        font-size: 20px;
    }

    .h1__header{
        font-size: 50px;
    }

    .img-logo-header{
        width: 40px;
    }

    .section__mix{
        max-width: 1075px;
    }

    .btntop {
        padding: 15px 25px;
        font-size: 20px;
    }

    .btn-mix{
        font-size: 20px;
        padding: 15px 25px;
    }

    .btns-timer {
        padding: 15px 25px;
        font-size: 20px;
    }

    .btn-timer-start{
        padding: 15px 25px;
        font-size: 20px;
    }

    .btn-voice{
        padding: 15px 25px;
        font-size: 20px;
    }

    .container__ambiance {
        grid-template-columns: repeat(4, 250px);
        grid-template-rows: repeat(3, 250px);
    }

    .div-generals-controls-div-input{
        width: 300px;
        padding: 20px 25px;
    }

    .div-generals-controls-btns{
        width: 300px;
    }

    .btnadd-general .material-symbols-outlined {
        font-size: 34px;
    }

    .btnremove-general .material-symbols-outlined {
        font-size: 34px;
    }

    .btnplaypause-general .material-symbols-outlined {
        font-size: 34px;
    }


    .audio-player {
        width: 250px;
        height: 250px;
        border-radius: 20px;
    }

    .div-audioplayer-btn__p{
        height: 160px;
    }

    .div-icon{
        width: 90px;
        height: 90px;
    }

    .div-icon .material-symbols-outlined{
        font-size: 35px;
    }

    .div-audioplayer-input{
        height: 90px;
        gap: 10px;
    }
    
    .volumeControl__audioplayer{
        height: 25px;
    }

    .span-vol-for-input.material-symbols-outlined {
        font-size: 23px;
    }

    .btnadd .material-symbols-outlined {
        font-size: 34px;
    }

    .btnremove .material-symbols-outlined {
        font-size: 34px;
    }

    .btnplaypause .material-symbols-outlined {
        font-size: 34px;
    }

    .footer-myflow {
        font-size: 16px;
    }

    .content-footer{
        max-width: 1075px;
    }
}

@media screen and (max-width:1030px) {

    .clicked-mymix-container1{
        padding: 50px 20px;
    }
}

@media screen and (max-width:930px) {

    .container__ambiance {
        grid-template-columns: repeat(3, 180px);
        grid-template-rows: repeat(4, 180px);
    }

    .generals-controls {
        grid-column-end: 4;
    }

    .content-footer {
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }

    p.p__footer {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media screen and (max-width:800px) {

    .group__my-mix,
    .group__default-mix {
        width: 50%;
    }

    .div__mixs{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

@media screen and (max-width:700px) {

    .div-input-simple-timer {
        width: 200px;
    }

    .div-label-input {
        width: 50%;
    }

    .popup-namemix{
        width: 90%;
    }

    .popup-delete-div{
        width: 90%;
    }

    .container__ambiance {
        grid-template-columns: repeat(2, 180px);
        grid-template-rows: repeat(5, 180px);
    }

    .generals-controls {
        grid-column-end: 3;
    }

    .p__sounds-on__generals-controls {
        width: auto;
    }
}

@media screen and (max-width:500px) {

    .btntop {
        flex-grow: 1;
    }

    .div-pomodoro-screen{
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .div-label-input{
        width: 70%;
    }

    .container__ambiance {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        grid-template-columns: none;
        grid-template-rows: none;
    }

    .generals-controls {
        width: 100%;
        flex-grow: 1;
    }

    .global-settings{
        width: auto;
    }

    .div-generals-controls-div-input {
        width: 100%;
    }

    .div-generals-controls-btns {
        width: 100%;
    }

    .audio-player {
        width: 46%;
        height: max-content;
        flex-grow: 1;
    }

    .div-icon {
        width: 50px;
        height: 50px;
    }

    .material-symbols-outlined {
        font-size: 20px;
    }

    .div-icon-vol__input-vol {
        margin: 5px;
    }

    .section__mix {
        flex-direction: column;
        gap: 15px;
    }

    .group__my-mix,
    .group__default-mix {
        width: 100%;
    }

    .p__sounds-on__generals-controls {
        border-radius: 10px;
    }

    .content-footer{
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        align-items: center;
    }

    .link-logo-footer-IK {
        width: auto;
        justify-content: center;
        align-items: center;
    }

    .div-icon-footer{
        flex-wrap: wrap;
    }
    
}